{
  "openapi": "3.1.0",
  "info": {
    "title": "PowerPath API",
    "version": "1.0.0",
    "description": "TimeBack PowerPath 100 API\n\n# Authentication\n\nAll endpoints require authentication using the `Authorization: Bearer <token>` header.\n\nThe token can be obtained with:\n\n```\ncurl -X POST https://alpha-auth-production-idp.auth.us-west-2.amazoncognito.com/oauth2/token \\\n-H \"Content-Type: application/x-www-form-urlencoded\" \\\n-d \"grant_type=client_credentials&client_id=<your-client-id>&client_secret=<your-client-secret>\"\n```\n\nUse the correct IDP server depending on the environment you're using:\n\n- Production Server:\n  https://alpha-auth-production-idp.auth.us-west-2.amazoncognito.com\n- Staging Server:\n  https://alpha-auth-development-idp.auth.us-west-2.amazoncognito.com\n\nReach out to the platform team to get a client/secret pair for your application.\n\n# Pagination\n\nOur API uses offset pagination for list endpoints. Paginated responses include the following fields:\n\n- `offset`: Offset for the next page of results\n- `limit`: Number of items per page (default: 100, maximum: 3000)\n\n**Note:** While the OneRoster specification does not define a maximum limit, this implementation enforces a maximum of 3000 items per page to prevent abuse and ensure optimal performance.\n\nExample request:\n\n```\nGET /ims/oneroster/rostering/v1p2/users?offset=20&limit=20\n```\n\nAll listing endpoints support offset pagination.\n\n# Filtering\n\nAll listing endpoints support filtering using the `filter` query parameter, following 1EdTech's filtering specification.\n\nThe filter should be a string with the following format:\n\n```\n?filter=[field][operator][value]\n```\n\nExample request:\n\n```\nGET /ims/oneroster/rostering/v1p2/users?filter=status='active'\n```\n\nExample request with multiple filters:\n\n```\nGET /ims/oneroster/rostering/v1p2/users?filter=status='active' AND name='John'\n```\n\n**Filtering by nested relations is not supported**.\n\n# Sorting\n\nAll listing endpoints support sorting using the `sort` and `orderBy` query parameters, following 1EdTech's sorting specification\n\nExample request:\n\n```\nGET /ims/oneroster/rostering/v1p2/users?sort=lastName&orderBy=asc\n```\n\n# Proprietary Extensions\n\nThis implementation includes proprietary extensions that extend beyond the official OneRoster 1.2 specification to provide additional functionality.\n\n## Search Parameter\n\nIn addition to the standard `filter` parameter, this implementation provides a `search` query parameter for simplified free-text searching:\n\n```\nGET /ims/oneroster/rostering/v1p2/users?search=john\n```\n\n**Purpose**: The `search` parameter enables convenient text-based queries across multiple fields simultaneously, whereas the standard `filter` parameter requires specifying exact field names and operators:\n\n```\n# Search parameter - searches across multiple fields automatically\nGET /ims/oneroster/rostering/v1p2/users?search=john\n\n# Equivalent using standard filter parameter\nGET /ims/oneroster/rostering/v1p2/users?filter=givenName~'john' OR familyName~'john'\n```\n\nThe `search` parameter performs case-insensitive partial matching across predefined fields for each endpoint, providing a more user-friendly querying experience.\n\n## OneRoster 1.2 Standard Parameters\n\nThe official OneRoster 1.2 specification defines these standard parameters:\n\n- `limit` - pagination limit\n- `offset` - pagination offset\n- `sort` - field to sort by\n- `orderBy` - sort direction (asc/desc)\n- `filter` - filtering expression\n- `fields` - field selection\n\n## Affected Endpoints\n\nThe proprietary `search` parameter is available on the following endpoints:\n\n**Rostering API**:\n\n- `GET /ims/oneroster/rostering/v1p2/academicSessions/`\n- `GET /ims/oneroster/rostering/v1p2/classes/`\n- `GET /ims/oneroster/rostering/v1p2/classes/{classSourcedId}/students`\n- `GET /ims/oneroster/rostering/v1p2/classes/{classSourcedId}/teachers`\n- `GET /ims/oneroster/rostering/v1p2/courses/`\n- `GET /ims/oneroster/rostering/v1p2/courses/{courseSourcedId}/classes`\n- `GET /ims/oneroster/rostering/v1p2/demographics/`\n- `GET /ims/oneroster/rostering/v1p2/enrollments/`\n- `GET /ims/oneroster/rostering/v1p2/schools/{schoolSourcedId}/classes/{classSourcedId}/students`\n- `GET /ims/oneroster/rostering/v1p2/users/`\n\n**Gradebook API**:\n\n- `GET /ims/oneroster/gradebook/v1p2/assessmentLineItems/`\n- `GET /ims/oneroster/gradebook/v1p2/assessmentResults/`\n- `GET /ims/oneroster/gradebook/v1p2/classes/{classSourcedId}/students/{studentSourcedId}/results`\n- `GET /ims/oneroster/gradebook/v1p2/results/`\n\n**Resources API**:\n\n- `GET /ims/oneroster/resources/v1p2/resources/`\n\n## Parameter Usage Guide\n\n### Filter Parameter\n\nThe standard `filter` parameter provides precise control over queries using these operators:\n\n- `=` - Exact match\n- `!=` - Not equal\n- `~` - Contains (case-insensitive)\n- `>`, `>=`, `<`, `<=` - Comparison operators\n- `@` - In list (comma-separated values)\n\n### Logical Operators\n\nCombine multiple conditions in filter expressions:\n\n- `AND` - Both conditions must be true\n- `OR` - Either condition must be true\n\n### Usage Examples\n\n```bash\n# Simple text search across multiple fields\nGET /users?search=john\n\n# Equivalent precise filtering\nGET /users?filter=givenName~'john' OR familyName~'john'\n\n# Complex filtering with multiple conditions\nGET /users?filter=status='active' AND givenName~'john'\n\n# Advanced filtering with different operators\nGET /users?filter=dateLastModified>'2023-01-01' AND status='active'\n```\n\n## Search Fields by Endpoint\n\nDifferent endpoints search across these predefined fields:\n\n- **Users**: `givenName`, `familyName`, `email`\n- **Courses**: `title`, `courseCode`\n- **Classes**: `title`\n- **Organizations**: `name`\n\n## Interoperability Notes\n\nThe `search` parameter is a proprietary extension specific to this implementation. Other OneRoster-compliant systems may only support the standard `filter` parameter. When building applications that need to work with multiple OneRoster providers, consider using the standard filtering approach.\n\n## Additional Schema Fields\n\n### AssessmentLineItem Extensions\n\nThe AssessmentLineItem schema includes two proprietary fields that extend curriculum mapping capabilities:\n\n#### Component Field\n\n- **Field**: `component`\n- **Type**: Object reference (`{ sourcedId: string }`)\n- **Purpose**: Direct association between assessment line items and course components, enabling enhanced curriculum mapping and learning pathway tracking.\n\n#### ComponentResource Field\n\n- **Field**: `componentResource`\n- **Type**: Object reference (`{ sourcedId: string }`)\n- **Purpose**: Direct association between assessment line items and specific learning resources, supporting detailed content-to-assessment relationships and adaptive learning features.\n\n**Example Usage**:\n\n```json\n{\n  \"sourcedId\": \"assessment-123\",\n  \"title\": \"Chapter 5 Quiz\",\n  \"component\": { \"sourcedId\": \"component-456\" },\n  \"componentResource\": { \"sourcedId\": \"resource-789\" }\n}\n```\n\n## Affected Endpoints\n\n### Schema Extensions Availability\n\nThe proprietary schema fields are available in:\n\n**Gradebook API**:\n\n- `GET /ims/oneroster/gradebook/v1p2/assessmentLineItems/` - Returns assessmentLineItems with `component` and `componentResource` fields\n- `GET /ims/oneroster/gradebook/v1p2/assessmentLineItems/{sourcedId}` - Returns individual assessmentLineItem with extended fields\n- `POST /ims/oneroster/gradebook/v1p2/assessmentLineItems/` - Accepts `component` and `componentResource` in request body\n- `PUT /ims/oneroster/gradebook/v1p2/assessmentLineItems/{sourcedId}` - Accepts extended fields for updates\n"
  },
  "servers": [
    {
      "url": "https://api.alpha-1edtech.com",
      "description": "PowerPath API"
    }
  ],
  "tags": [
    {
      "name": "PowerPath - Course Mastery"
    },
    {
      "name": "PowerPath - Lesson Mastery",
      "description": "Track and manage student mastery of lesson objectives, through PowerPath 100 lessons"
    },
    {
      "name": "PowerPath - Lesson Plans",
      "description": "Manage lesson plans and instructional content"
    },
    {
      "name": "PowerPath - Placement"
    }
  ],
  "security": [
    {
      "OAuth2": []
    }
  ],
  "paths": {
    "/powerpath/placement/getAllPlacementTests": {
      "get": {
        "operationId": "getAllPlacementTests",
        "summary": "Get all placement tests",
        "description": "\nReturns all placement tests for a subject, including available results for each.\n\nA 'Lesson' (placement test) in this context is a ComponentResource object which has a Resource object with metadata.lessonType = \"placement\" associated with it.\n",
        "tags": [
          "PowerPath - Placement"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "student",
            "description": "The sourcedId of the student",
            "schema": {
              "type": "string",
              "description": "The sourcedId of the student"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "subject",
            "description": "The subject name",
            "schema": {
              "type": "string",
              "description": "The subject name",
              "enum": [
                "Reading",
                "Language",
                "Vocabulary",
                "Social Studies",
                "Writing",
                "Science",
                "FastMath",
                "Math"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "placementTests": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "component_resources": {
                            "type": "object"
                          },
                          "resources": {
                            "type": "object"
                          },
                          "resources_metadata": {
                            "type": "object"
                          },
                          "assessment_line_items": {
                            "type": [
                              "object",
                              "null"
                            ]
                          },
                          "assessment_results": {
                            "type": [
                              "array",
                              "null"
                            ],
                            "items": {
                              "type": "object"
                            }
                          }
                        },
                        "required": [
                          "component_resources",
                          "resources",
                          "resources_metadata",
                          "assessment_line_items",
                          "assessment_results"
                        ]
                      }
                    }
                  },
                  "required": [
                    "placementTests"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity / Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerpath/placement/getCurrentLevel": {
      "get": {
        "operationId": "getCurrentLevel",
        "summary": "Get current level",
        "description": "\nReturns the current level of the student in a placement process:\n- The level is determined by the last completed placement test's grade level, starting from the lowest grade level available for the subject's placement tests.\n- As the student completes placement tests and attains scores of 90 or greater, their level updates to the next level available for the subject.\n\nAlso returns the 'onboarded' boolean that indicates if the student completed the onboarding process for the subject:\n- A 'onboarded = true' means they either completed and passed all placement tests or they have gotten a score smaller than 90 in the last completed placement test.\n- A 'onboarded = false' means they haven't completed placement tests yet or have achieved a score of 90 or greater in the last completed placement test and there are more tests to take.\n",
        "tags": [
          "PowerPath - Placement"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "student",
            "description": "The sourcedId of the student",
            "schema": {
              "type": "string",
              "description": "The sourcedId of the student"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "subject",
            "description": "The subject name",
            "schema": {
              "type": "string",
              "description": "The subject name",
              "enum": [
                "Reading",
                "Language",
                "Vocabulary",
                "Social Studies",
                "Writing",
                "Science",
                "FastMath",
                "Math"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "gradeLevel": {
                      "oneOf": [
                        {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/GradeEnum"
                            }
                          ],
                          "description": "The grades of the course",
                          "enum": [
                            "-1",
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7",
                            "8",
                            "9",
                            "10",
                            "11",
                            "12",
                            "13"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "The grade level of the current level in the subject"
                    },
                    "onboarded": {
                      "type": "boolean",
                      "description": "Whether the student has completed the onboarding process for the subject"
                    },
                    "availableTests": {
                      "type": "number",
                      "description": "The number of placement tests available for the subject"
                    }
                  },
                  "required": [
                    "gradeLevel",
                    "onboarded",
                    "availableTests"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity / Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerpath/placement/getNextPlacementTest": {
      "get": {
        "operationId": "getNextPlacementTest",
        "summary": "Get next placement test",
        "description": "\nReturns the next placement test for the student in a subject:\n- If the student has completed all placement tests for the subject, the next test's lesson ID will be null. Tests will also be marked as exhausted.\n- If the student hasn't completed a single placement test, returns the first placement test's lesson ID for the subject.\n- If the student has completed some placement tests, it will return null for the next test's lesson ID if the last completed test had a score smaller than 90.\n- Alternatively, it will return the next available placement test's lesson ID if the score was greater than or equal to 90.\n\nAlso returns the 'onboarded' boolean that indicates if the student completed the onboarding process for the subject:\n- A 'onboarded = true' means they either completed and passed all placement tests or they have gotten a score smaller than 90 in the last completed placement test.\n- A 'onboarded = false' means they haven't completed placement tests yet or have achieved a score of 90 or greater in the last completed placement test and there are more tests to take.\n\nA 'Lesson' in this context is a ComponentResource object which has a Resource object with metadata.lessonType = \"placement\" associated with it.\n",
        "tags": [
          "PowerPath - Placement"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "student",
            "description": "The sourcedId of the student",
            "schema": {
              "type": "string",
              "description": "The sourcedId of the student"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "subject",
            "description": "The subject name",
            "schema": {
              "type": "string",
              "description": "The subject name",
              "enum": [
                "Reading",
                "Language",
                "Vocabulary",
                "Social Studies",
                "Writing",
                "Science",
                "FastMath",
                "Math"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "exhaustedTests": {
                      "type": "boolean",
                      "description": "Whether the student has exhausted all placement tests"
                    },
                    "gradeLevel": {
                      "oneOf": [
                        {
                          "allOf": [
                            {
                              "$ref": "#/components/schemas/GradeEnum"
                            }
                          ],
                          "description": "The grades of the course",
                          "enum": [
                            "-1",
                            "0",
                            "1",
                            "2",
                            "3",
                            "4",
                            "5",
                            "6",
                            "7",
                            "8",
                            "9",
                            "10",
                            "11",
                            "12",
                            "13"
                          ]
                        },
                        {
                          "type": "null"
                        }
                      ],
                      "description": "The grade level of the next placement test"
                    },
                    "lesson": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The sourcedId of the next placement test (ComponentResource)"
                    },
                    "onboarded": {
                      "type": "boolean",
                      "description": "Whether the student has completed the onboarding process for the subject"
                    },
                    "availableTests": {
                      "type": "number",
                      "description": "The number of placement tests available for the subject"
                    }
                  },
                  "required": [
                    "exhaustedTests",
                    "gradeLevel",
                    "lesson",
                    "onboarded",
                    "availableTests"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity / Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerpath/placement/getSubjectProgress": {
      "get": {
        "operationId": "getSubjectProgress",
        "summary": "Get subject progress",
        "description": "\nReturns the progress the student has made in the given subject\n",
        "tags": [
          "PowerPath - Placement"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "student",
            "description": "The sourcedId of the student",
            "schema": {
              "type": "string",
              "description": "The sourcedId of the student"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "subject",
            "description": "The subject name",
            "schema": {
              "type": "string",
              "description": "The subject name",
              "enum": [
                "Reading",
                "Language",
                "Vocabulary",
                "Social Studies",
                "Writing",
                "Science",
                "FastMath",
                "Math"
              ]
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "progress": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "course": {
                            "type": "object",
                            "properties": {
                              "courseCode": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "dateLastModified": {
                                "type": "string"
                              },
                              "grades": {
                                "type": [
                                  "array",
                                  "null"
                                ],
                                "items": {
                                  "allOf": [
                                    {
                                      "$ref": "#/components/schemas/GradeEnum"
                                    }
                                  ],
                                  "description": "The grades of the course",
                                  "enum": [
                                    "-1",
                                    "0",
                                    "1",
                                    "2",
                                    "3",
                                    "4",
                                    "5",
                                    "6",
                                    "7",
                                    "8",
                                    "9",
                                    "10",
                                    "11",
                                    "12",
                                    "13"
                                  ]
                                }
                              },
                              "level": {
                                "type": [
                                  "string",
                                  "null"
                                ]
                              },
                              "orgSourcedId": {
                                "type": "string"
                              },
                              "sourcedId": {
                                "type": "string"
                              },
                              "status": {
                                "type": "string"
                              },
                              "subjects": {
                                "type": [
                                  "array",
                                  "null"
                                ],
                                "items": {
                                  "allOf": [
                                    {
                                      "$ref": "#/components/schemas/SubjectEnum"
                                    }
                                  ],
                                  "description": "The subjects of the course",
                                  "enum": [
                                    "Reading",
                                    "Language",
                                    "Vocabulary",
                                    "Social Studies",
                                    "Writing",
                                    "Science",
                                    "FastMath",
                                    "Math"
                                  ]
                                }
                              },
                              "title": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "courseCode",
                              "dateLastModified",
                              "grades",
                              "level",
                              "orgSourcedId",
                              "sourcedId",
                              "status",
                              "subjects",
                              "title"
                            ]
                          },
                          "inEnrolled": {
                            "type": "boolean"
                          },
                          "hasUsedTestOut": {
                            "type": "boolean",
                            "description": "Whether the student has a fully graded assessment result for a test-out lesson in the course"
                          },
                          "testOutLessonId": {
                            "type": [
                              "string",
                              "null"
                            ],
                            "description": "The sourcedId of the test-out lesson (ComponentResource) in the course"
                          },
                          "completedLessons": {
                            "type": "number",
                            "description": "The number of lessons that contain an assessment result with a score status of 'fully graded'"
                          },
                          "totalLessons": {
                            "type": "number",
                            "description": "The total number of lessons in the course"
                          },
                          "totalAttainableXp": {
                            "type": "number",
                            "description": "The total XP that can be earned by the student in the course, not considering potential multipliers"
                          },
                          "totalXpEarned": {
                            "type": "number",
                            "description": "The total XP earned by the student considering calculated multipliers"
                          }
                        },
                        "required": [
                          "course",
                          "inEnrolled",
                          "hasUsedTestOut",
                          "testOutLessonId",
                          "completedLessons",
                          "totalLessons",
                          "totalAttainableXp",
                          "totalXpEarned"
                        ],
                        "description": "The overview of the course's progress"
                      },
                      "description": "The progress of the student in each of the subject's courses"
                    }
                  },
                  "required": [
                    "progress"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity / Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerpath/screening/results/{userId}": {
      "get": {
        "operationId": "getResults",
        "summary": "Get results",
        "description": "Get results for a user",
        "tags": [
          "PowerPath - Placement"
        ],
        "parameters": [
          {
            "name": "userId",
            "description": "User ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Results",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": {
                    "type": [
                      "object",
                      "null"
                    ],
                    "properties": {
                      "grade": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/GradeEnum"
                          }
                        ],
                        "description": "The grades of the course",
                        "enum": [
                          "-1",
                          "0",
                          "1",
                          "2",
                          "3",
                          "4",
                          "5",
                          "6",
                          "7",
                          "8",
                          "9",
                          "10",
                          "11",
                          "12",
                          "13"
                        ]
                      },
                      "ritScore": {
                        "type": "number"
                      },
                      "testName": {
                        "type": "string"
                      },
                      "completedAt": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "grade",
                      "ritScore",
                      "testName",
                      "completedAt"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity / Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerpath/screening/session/{userId}": {
      "get": {
        "operationId": "getSession",
        "summary": "Get session",
        "description": "Get session for a user",
        "tags": [
          "PowerPath - Placement"
        ],
        "parameters": [
          {
            "name": "userId",
            "description": "User ID",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Session",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nweaStudentId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "createdOn": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "password": {
                      "type": "string"
                    },
                    "name": {
                      "type": "string"
                    },
                    "proctorId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "pin": {
                      "type": "string"
                    },
                    "testSessionId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "inactive"
                      ]
                    },
                    "assignment": {
                      "type": "object",
                      "properties": {
                        "assignedTestKey": {
                          "type": [
                            "string",
                            "null"
                          ]
                        },
                        "status": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "enum": [
                            "enqueued",
                            "assigned",
                            "in_progress",
                            "blocked",
                            "completed",
                            "abandoned",
                            "failed",
                            null
                          ]
                        },
                        "nweaStatus": {
                          "type": [
                            "string",
                            "null"
                          ],
                          "enum": [
                            "ENQUEUED",
                            "AWAITING_STUDENT",
                            "IN_PROGRESS",
                            "PAUSED",
                            "SUSPENDED",
                            "TERMINATED",
                            "ABANDONED",
                            "COMPLETED",
                            "FAILED",
                            null
                          ]
                        }
                      },
                      "required": [
                        "assignedTestKey",
                        "status",
                        "nweaStatus"
                      ]
                    },
                    "termId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "nweaStudentId",
                    "createdOn",
                    "password",
                    "name",
                    "proctorId",
                    "pin",
                    "testSessionId",
                    "status",
                    "assignment",
                    "termId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity / Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerpath/screening/tests/assign": {
      "post": {
        "operationId": "assignTest",
        "summary": "Assign test",
        "description": "Assign test to a user",
        "tags": [
          "PowerPath - Placement"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": {
                    "type": "string"
                  },
                  "subject": {
                    "type": "string",
                    "enum": [
                      "Math",
                      "Reading",
                      "Language",
                      "Science"
                    ]
                  }
                },
                "required": [
                  "userId",
                  "subject"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Test assigned",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "assignedTestKey": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string",
                        "format": "email"
                      },
                      "testName": {
                        "type": "string"
                      },
                      "testSessionId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "updatedOn": {
                        "type": "string",
                        "format": "date-time"
                      },
                      "nweaStatus": {
                        "type": "string",
                        "enum": [
                          "ENQUEUED",
                          "AWAITING_STUDENT",
                          "IN_PROGRESS",
                          "PAUSED",
                          "SUSPENDED",
                          "TERMINATED",
                          "ABANDONED",
                          "COMPLETED",
                          "FAILED"
                        ]
                      },
                      "status": {
                        "type": "string",
                        "enum": [
                          "enqueued",
                          "assigned",
                          "in_progress",
                          "blocked",
                          "completed",
                          "abandoned",
                          "failed"
                        ]
                      },
                      "studentId": {
                        "type": "string",
                        "format": "uuid"
                      },
                      "studentName": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "assignedTestKey",
                      "email",
                      "testName",
                      "testSessionId",
                      "updatedOn",
                      "nweaStatus",
                      "status",
                      "studentId",
                      "studentName"
                    ]
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity / Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerpath/createExternalPlacementTest": {
      "post": {
        "operationId": "createExternalPlacementTest",
        "summary": "Create an External Placement Test",
        "description": "\nCreates or updates a ComponentResource to act as a Placement Test lesson in a course.\nThis allows integrating with external test-taking platforms (like Edulastic) for content delivery.\n\nThe endpoint creates or updates (if they already exist) the following entities:\n- A CourseComponent for the course to hold the Placement Test lesson\n- A Resource with lessonType = \"placement\" and the external service details as metadata\n- A ComponentResource acting as the Placement Test lesson\n\nA test assignment is mandatory in order to obtain access credentials for this test on the external platform, as well as to obtain the IDs necessary for fetching test results later on:\n- For test assignments, use the \"makeExternalTestAssignment\" endpoint.\n- For test results retrieval, use the \"importExternalTestAssignmentResults\" endpoint.\n\nIf a 'courseIdOnFail' parameter is supplied, its Course's sourcedId will be used to automatically enroll the student when the placement test is completed with a score below 90 %. When the parameter is omitted (or set to null), no automatic enrollment will happen.\n\nThis request fails if:\n- The 'course' provided does not exist, or a non-null 'courseIdOnFail' references a non-existent course\n- An existing Placement Test lesson in the course, targeting the same grade, has a different toolProvider than the one provided (need to perform an update to the Resource first, altering the \"toolProvider\", before trying again)\n\nA 'Lesson' in this context is a ComponentResource object which has a Resource object with lessonType = \"placement\" associated with it.\n",
        "tags": [
          "PowerPath - Course Mastery"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateExternalTestOutInput"
                  },
                  {
                    "$ref": "#/components/schemas/CreateExternalPlacementInput"
                  }
                ],
                "discriminator": {
                  "propertyName": "lessonType",
                  "mapping": {
                    "test-out": "#/components/schemas/CreateExternalTestOutInput",
                    "placement": "#/components/schemas/CreateExternalPlacementInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lessonType": {
                      "type": "string",
                      "enum": [
                        "powerpath-100",
                        "quiz",
                        "test-out",
                        "placement",
                        "unit-test",
                        "alpha-read-article"
                      ]
                    },
                    "lessonId": {
                      "type": "string",
                      "description": "The sourcedId of the created external test reference (ComponentResource)"
                    },
                    "courseComponentId": {
                      "type": "string",
                      "description": "The sourcedId of the component (unit) containing the test"
                    },
                    "resourceId": {
                      "type": "string",
                      "description": "The sourcedId of the resource representing the external test"
                    },
                    "launchUrl": {
                      "type": "string",
                      "description": "The URL to the external test system"
                    },
                    "toolProvider": {
                      "type": "string",
                      "description": "The tool provider id"
                    },
                    "vendorId": {
                      "type": "string",
                      "description": "The ID of the test in the spreadsheet"
                    },
                    "courseIdOnFail": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The courseId to enroll the student in if they fail the placement test (optional)"
                    },
                    "grades": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/GradeEnum"
                          }
                        ],
                        "description": "The grades of the course",
                        "enum": [
                          "-1",
                          "0",
                          "1",
                          "2",
                          "3",
                          "4",
                          "5",
                          "6",
                          "7",
                          "8",
                          "9",
                          "10",
                          "11",
                          "12",
                          "13"
                        ]
                      },
                      "description": "The grades for the resource"
                    }
                  },
                  "required": [
                    "lessonType",
                    "lessonId",
                    "courseComponentId",
                    "resourceId",
                    "toolProvider"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity / Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerpath/createExternalTestOut": {
      "post": {
        "operationId": "createExternalTestOut",
        "summary": "Create an External TestOut",
        "description": "\nCreates or updates a ComponentResource to act as a TestOut lesson in a course.\nThis allows integrating with external test-taking platforms (like Edulastic) for content delivery.\n\nThe endpoint creates or updates (if they already exist) the following entities:\n- A CourseComponent for the course to hold the TestOut lesson\n- A Resource with lessonType = \"test-out\" and the external service details as metadata\n- A ComponentResource acting as the TestOut lesson\n\nA test assignment is mandatory in order to obtain access credentials for this test on the external platform, as well as to obtain the IDs necessary for fetching test results later on:\n- For test assignments, use the \"makeExternalTestAssignment\" endpoint.\n- For test results retrieval, use the \"importExternalTestAssignmentResults\" endpoint.\n\nThis request fails if:\n- The course provided does not exist\n- An existing TestOut lesson in the course has a different toolProvider than the one provided (need to perform an update to the Resource first, altering the \"toolProvider\", before trying again)\n\nA 'Lesson' in this context is a ComponentResource object which has a Resource object with lessonType = \"test-out\" associated with it.\n",
        "tags": [
          "PowerPath - Course Mastery"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateExternalTestOutInput"
                  },
                  {
                    "$ref": "#/components/schemas/CreateExternalPlacementInput"
                  }
                ],
                "discriminator": {
                  "propertyName": "lessonType",
                  "mapping": {
                    "test-out": "#/components/schemas/CreateExternalTestOutInput",
                    "placement": "#/components/schemas/CreateExternalPlacementInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lessonType": {
                      "type": "string",
                      "enum": [
                        "powerpath-100",
                        "quiz",
                        "test-out",
                        "placement",
                        "unit-test",
                        "alpha-read-article"
                      ]
                    },
                    "lessonId": {
                      "type": "string",
                      "description": "The sourcedId of the created external test reference (ComponentResource)"
                    },
                    "courseComponentId": {
                      "type": "string",
                      "description": "The sourcedId of the component (unit) containing the test"
                    },
                    "resourceId": {
                      "type": "string",
                      "description": "The sourcedId of the resource representing the external test"
                    },
                    "launchUrl": {
                      "type": "string",
                      "description": "The URL to the external test system"
                    },
                    "toolProvider": {
                      "type": "string",
                      "description": "The tool provider id"
                    },
                    "vendorId": {
                      "type": "string",
                      "description": "The ID of the test in the spreadsheet"
                    },
                    "courseIdOnFail": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The courseId to enroll the student in if they fail the placement test (optional)"
                    },
                    "grades": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/GradeEnum"
                          }
                        ],
                        "description": "The grades of the course",
                        "enum": [
                          "-1",
                          "0",
                          "1",
                          "2",
                          "3",
                          "4",
                          "5",
                          "6",
                          "7",
                          "8",
                          "9",
                          "10",
                          "11",
                          "12",
                          "13"
                        ]
                      },
                      "description": "The grades for the resource"
                    }
                  },
                  "required": [
                    "lessonType",
                    "lessonId",
                    "courseComponentId",
                    "resourceId",
                    "toolProvider"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity / Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerpath/createInternalTest": {
      "post": {
        "operationId": "createInternalTest",
        "summary": "Create an Internal Test",
        "description": "\nCreates or updates a ComponentResource to act as an internal test lesson in a course.\nThis allows creating tests using internal QTI resources or assessment banks with multiple QTI resources.\n\nThe endpoint creates or updates (if they already exist) the following entities:\n- A CourseComponent for the course to hold the test lesson\n- One or more Resources with type = \"qti\" for individual tests, or type = \"assessment-bank\" for test banks\n- A ComponentResource acting as the test lesson\n\nSupports two test types:\n- Regular QTI test: Creates a single QTI resource\n- Assessment Bank: Creates multiple QTI resources and wraps them in an assessment bank\n\nFor test-out and placement lessons, this will update existing tests of the same type.\nFor other lesson types (quiz, unit-test, pp-100), it will create new lessons in the course structure.\n\nA 'Lesson' in this context is a ComponentResource object which has a Resource object associated with it.\n",
        "tags": [
          "PowerPath - Course Mastery"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "oneOf": [
                  {
                    "$ref": "#/components/schemas/CreateInternalQtiTestInput"
                  },
                  {
                    "$ref": "#/components/schemas/CreateInternalAssessmentBankInput"
                  }
                ],
                "discriminator": {
                  "propertyName": "testType",
                  "mapping": {
                    "qti": "#/components/schemas/CreateInternalQtiTestInput",
                    "assessment-bank": "#/components/schemas/CreateInternalAssessmentBankInput"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lessonType": {
                      "type": "string",
                      "enum": [
                        "powerpath-100",
                        "quiz",
                        "test-out",
                        "placement",
                        "unit-test",
                        "alpha-read-article"
                      ]
                    },
                    "testType": {
                      "type": "string",
                      "enum": [
                        "qti",
                        "assessment-bank"
                      ]
                    },
                    "lessonId": {
                      "type": "string",
                      "description": "The sourcedId of the created internal test lesson (ComponentResource)"
                    },
                    "courseComponentId": {
                      "type": "string",
                      "description": "The sourcedId of the component (unit) containing the test"
                    },
                    "resourceId": {
                      "type": "string",
                      "description": "The sourcedId of the main resource (parent for assessment-bank)"
                    },
                    "childResourceIds": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "Array of child resource IDs (only for assessment-bank type)"
                    },
                    "courseIdOnFail": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The courseId to enroll the student in if they fail the placement test (optional)"
                    },
                    "grades": {
                      "type": "array",
                      "items": {
                        "allOf": [
                          {
                            "$ref": "#/components/schemas/GradeEnum"
                          }
                        ],
                        "description": "The grades of the course",
                        "enum": [
                          "-1",
                          "0",
                          "1",
                          "2",
                          "3",
                          "4",
                          "5",
                          "6",
                          "7",
                          "8",
                          "9",
                          "10",
                          "11",
                          "12",
                          "13"
                        ]
                      },
                      "description": "The grades for the resource (for placement tests)"
                    }
                  },
                  "required": [
                    "lessonType",
                    "testType",
                    "lessonId",
                    "courseComponentId",
                    "resourceId"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity / Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerpath/importExternalTestAssignmentResults": {
      "get": {
        "operationId": "importExternalTestAssignmentResults",
        "summary": "Import external test assignment results",
        "description": "\nRetrieves and stores the results of the external test assignment:\n- Applies to both 'test-out' and 'placement' lessons.\n\nThis logic changes depending on the stored \"toolProvider\" of the lesson:\n- For \"edulastic\" (currently the only one supported):\n  - If the lesson is already finalized, no data import is performed.\n  - If the lesson is not finalized, this will start populating the test and question results with available data, including question scores and feedback. The test will then be deemed finalized when all questions have been answered and the test grade is \"GRADED\".\n\nWill fail if:\n- The lesson is not an external \"test-out\" or \"placement\", or the student does not exist\n- Credentials for data consumption are not available in the test result of this student (meaning a previous test assignment was not made)\n- Any other problem on the Edulastic API being used that may happen\n\nThe actual test results can be retrieved by using the \"getAssessmentProgress\" endpoint.\n\nA 'Lesson' in this context is a ComponentResource object which has a Resource object with lessonType = \"test-out\" or \"placement\" associated with it.\n",
        "tags": [
          "PowerPath - Course Mastery"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "student",
            "description": "The sourcedId of the student",
            "schema": {
              "type": "string",
              "description": "The sourcedId of the student"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "lesson",
            "description": "The sourcedId of the lesson (ComponentResource)",
            "schema": {
              "type": "string",
              "description": "The sourcedId of the lesson (ComponentResource)"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "applicationName",
            "description": "The name of the application",
            "schema": {
              "type": "string",
              "description": "The name of the application"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lessonType": {
                      "type": "string",
                      "enum": [
                        "test-out",
                        "placement",
                        "unit-test"
                      ]
                    },
                    "lessonId": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The sourcedId of the lesson (ComponentResource)"
                    },
                    "toolProvider": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The tool provider for the lesson (ComponentResource)"
                    },
                    "finalized": {
                      "type": "boolean",
                      "description": "Whether the Test has been finalized in the current attempt"
                    },
                    "attempt": {
                      "type": "number",
                      "description": "The attempt number"
                    },
                    "credentials": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "password": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "email",
                        "password"
                      ],
                      "description": "The credentials for accessing the assigned test on external tool"
                    },
                    "assignmentId": {
                      "type": "string",
                      "description": "The id of the assignment on external tool for results retrieval"
                    },
                    "classId": {
                      "type": "string",
                      "description": "The id of the class on external tool for results retrieval (may be empty for some tools)"
                    },
                    "testUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "The URL of the test on external tool"
                    },
                    "testId": {
                      "type": "string",
                      "description": "The id of the test on external tool (may be assignment ID for some tools)"
                    },
                    "courseIdOnFail": {
                      "type": [
                        "string",
                        "null"
                      ],
                      "description": "The courseId to enroll the student in if they fail the placement test (can be null)"
                    },
                    "hasFallbackCourse": {
                      "type": "boolean",
                      "description": "Whether the test has a fallback course for auto-enrollment on failure"
                    }
                  },
                  "required": [
                    "lessonType",
                    "lessonId",
                    "toolProvider",
                    "finalized",
                    "attempt",
                    "courseIdOnFail",
                    "hasFallbackCourse"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity / Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerpath/makeExternalTestAssignment": {
      "post": {
        "operationId": "makeExternalTestAssignment",
        "summary": "Make external test assignment",
        "description": "\nMakes an external test assignment for the given student:\n- Applies to both 'test-out' and 'placement' lessons.\n\nThis logic changes depending on the provided \"toolProvider\" value:\n- For \"edulastic\" (currently the only one supported):\n  - Authenticates the student with their email on Edulastic\n  - Assigns the test to the student in Edulastic\n  - Stores the received \"assignmentId\" and \"classId\" in the lesson's AssessmentResult\n  - Returns the test link, credentials, and IDs of the test for later results consumption\n\nWill fail if:\n- The lesson is not an external \"test-out\" or \"placement\", or the student does not exist\n- External tool (described in the resource.metadata.toolProvider) is not \"edulastic\"\n- Any other problem on the Edulastic API being used that may happen\n\nA 'Lesson' in this context is a ComponentResource object which has a Resource object with lessonType = \"test-out\" or \"placement\" associated with it.\n",
        "tags": [
          "PowerPath - Course Mastery"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "student": {
                    "type": "string",
                    "description": "The sourcedId of the student"
                  },
                  "lesson": {
                    "type": "string",
                    "description": "The sourcedId of the lesson (ComponentResource)"
                  },
                  "applicationName": {
                    "type": "string",
                    "description": "The name of the application to use for authenticating on the external tool"
                  }
                },
                "required": [
                  "student",
                  "lesson"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "toolProvider": {
                      "type": "string",
                      "enum": [
                        "edulastic",
                        "mastery-track"
                      ]
                    },
                    "lessonType": {
                      "type": "string",
                      "enum": [
                        "test-out",
                        "placement",
                        "unit-test"
                      ]
                    },
                    "attempt": {
                      "type": "number",
                      "description": "The attempt number"
                    },
                    "credentials": {
                      "type": "object",
                      "properties": {
                        "email": {
                          "type": "string",
                          "format": "email"
                        },
                        "password": {
                          "type": "string"
                        }
                      },
                      "required": [
                        "email",
                        "password"
                      ],
                      "description": "The credentials for accessing the assigned test on external tool"
                    },
                    "assignmentId": {
                      "type": "string",
                      "description": "The id of the assignment on external tool for results retrieval"
                    },
                    "classId": {
                      "type": "string",
                      "description": "The id of the class on external tool for results retrieval (may be empty for some tools)"
                    },
                    "testUrl": {
                      "type": "string",
                      "format": "uri",
                      "description": "The URL of the test on external tool"
                    },
                    "testId": {
                      "type": "string",
                      "description": "The id of the test on external tool (may be assignment ID for some tools)"
                    }
                  },
                  "required": [
                    "toolProvider",
                    "lessonType",
                    "attempt"
                  ]
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity / Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerpath/testOut": {
      "get": {
        "operationId": "testOut",
        "summary": "Test out",
        "description": "\nReturns the testOut lesson reference for the given student and course.\n\n- TestOut is a lesson that represents the end-of-course test, covering the entire course content.\n- The testOut should be specified by a Resource with metadata.lessonType = \"test-out\".\n\nDetails:\n- Returns a null lessonId in case no Resource with metadata.lessonType = \"test-out\" is found in the course.\n- In case student has already taken the TestOut, this will return the \"finalized\" flag set to true.\n- In case this is an external TestOut, also return external access credentials, if available (i.e. test was previously assigned to student).\n\nA 'Lesson' in this context is a ComponentResource object which has a Resource object with metadata.lessonType = \"test-out\" associated with it.\n",
        "tags": [
          "PowerPath - Course Mastery"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "student",
            "description": "The sourcedId of the student to retrieve the testOut for",
            "schema": {
              "type": "string",
              "description": "The sourcedId of the student to retrieve the testOut for"
            },
            "required": true
          },
          {
            "in": "query",
            "name": "course",
            "description": "The sourcedId of the Course to retrieve the testOut from",
            "schema": {
              "type": "string",
              "description": "The sourcedId of the Course to retrieve the testOut from"
            },
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestOutResult"
                }
              }
            }
          },
          "400": {
            "description": "Bad Request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BadRequestResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not Found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotFoundResponse"
                }
              }
            }
          },
          "422": {
            "description": "Unprocessable Entity / Validation Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnprocessableEntityResponse"
                }
              }
            }
          },
          "429": {
            "description": "Too Many Requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TooManyRequestsResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal Server Error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InternalServerErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/powerpath/lessonPlans/": {
      "post": {
        "operationId": "createLessonPlan",
        "summary": "Create a lesson plan",
        "description": "Purpose: Create a new lesson plan for a course and student\n\nWhen to use:\n- When a new student is enrolled in a course\n- For initial setup of a student's learning path\n- When you need to create a lesson plan from scratch\n\nWhat it does:\n- Creates a new lesson plan\n- Associates it with the course and student\n- Optionally, associates it with a class\n- Returns the lesson plan ID\n- If the lesson plan already exists, returns the existing lesson plan ID\n- If the course, user or class is not found, returns a 404 error\n    ",
        "tags": [
          "PowerPath - Lesson Plans"
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "courseId": {
                    "type": "string",
                    "description": "The Sourced ID of the course"
                  },
                  "userId": {
                    "type": "string",
                    "description": "The Sourced ID of the student"
                  },
                  "classId": {
                    "type": "string",
                    "description": "(optional) The Sourced ID of the class. Defaults to current year's class for the student"
                  }
                },
                "required": [
                  "courseId",
                  "userId"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lesson plan already exists",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lessonPlanId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "lessonPlanId"
                  ]
                }
              }
            }
          },
          "201": {
            "description": "Lesson plan created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lessonPlanId": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "lessonPlanId"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UnauthorizedRequestResponse"
                }
              }
            }
          },
          "403": {
            "description": "Forbidden",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForbiddenResponse"
                }
              }
            }
          },
          "404": {
            "description": "Course, User or Class not found"
          }
        }
      }
    },
    "/powerpath/lessonPlans/{courseId}/{userId}": {
      "get": {
        "operationId": "getTree",
        "summary": "Returns the lesson plan tree for a course and student",
        "description": "\nGiven a course sourced ID and a user sourced ID, returns the lesson plan tree.\n\nThe lesson plan tree is nested object comprised of several lessonPlanItems, \nwhich are nodes that contain information about the lesson plan - including which component or component resource is associated with that node, \nas well as which node is its parent.\n\nA node may reference a component or a componentResource.\nA node with no parent is considered at the root level of the lesson plan tree.\n\nA student's lesson plan has a unique ID that can be used instead of the parameters to retrieve it.\n    ",
        "tags": [
          "PowerPath - Lesson Plans"
        ],
        "parameters": [
          {
            "name": "courseId",
            "description": "Course Sourced ID",
            "in": "path",
            "required": true,
[...]
